<%- include("header") -%>
<h2>Welcome to our Todo List App!
</h2>
<p>
    Stay organized and keep track of your tasks with our user-friendly and efficient Todo List App. Whether you need to manage your work-related responsibilities, plan your shopping trips, or create a general to-do list, we've got you covered. Our app provides a seamless experience, ensuring that you never miss a task again.
    <br>
    
   <h2>Work List:</h2> 
    
    Efficiently manage your professional tasks and boost your productivity using our Work List feature. Stay on top of your work assignments, projects, and deadlines with ease. Prioritize tasks, set due dates, and mark them as completed once you finish them. With our app, you'll have all your work-related responsibilities neatly organized in one place.
    <br>
    <h2>Shopping List:</h2>

    Never forget an essential item when you go shopping! Our Shopping List feature allows you to create and manage your shopping lists effortlessly. Whether it's groceries, household supplies, or gifts, you can add items with a simple tap. You can even categorize items, set quantity reminders, and mark items as purchased to keep your shopping experience smooth and hassle-free.
    
    <h2>General To-Do List:</h2>
    
    For all the tasks that don't fall into a specific category, our General To-Do List comes in handy. Keep track of personal errands, appointments, reminders, and any other tasks you need to complete. Stay organized by adding due dates, attaching relevant notes, and prioritizing tasks based on their importance. Our app ensures that you can focus on what matters most without letting anything slip through the cracks.</p>
  
<%- include("footer") -%>
